{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Dashboard</title>

    <link href="{% static 'lib/roboto_material_icons/roboto_material_icons_fonts.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome-6.1.1/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/animate_css/animate.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/quasar/quasar.prod.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'my_lib/my_ajax_request/my_ajax_request.js' %}"></script>

    <link href="{% static 'lib/bootstrap_table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap_icons/bootstrap-icons.css' %}" rel="stylesheet">

    <script src="{% static 'lib/bootstrap_table/bootstrap-table.min.js' %}"></script>
    {% block add_css_link %}{% endblock %}
</head>
<body>

{% if messages %}
    <div id="dashboard_messages" class="visually-hidden">
        {% for message in messages %}
            <div class="message" data-message_level="{{ message.level_tag }}" data-message_content="{{ message }}">
            </div>
        {% endfor %}
    </div>
{% endif %}
<div id="vue_dashboard">
    {#    <div><a href="{% url 'admin_dashboard' %}">Admin</a></div>#}
    {#    <div><a href="{% url 'supervisor_dashboard' %}">Supervisor</a></div>#}
    {% block body %}

    {% endblock %}
</div>
<script src="{% static 'lib/moment/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/vue/vue_3.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/quasar/quasar.umd.prod.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/ldLoader/index.min.js' %}"></script>
<script src="{% static 'lib/sweet_alert/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'my_lib/my_loader/my_loader.js' %}"></script>

<script src="{% static 'lib/bootstrap_table/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
<script src="{% static 'lib/table_export_plugin/tableExport.min.js' %}"></script>
<script src="{% static 'lib/table_export_plugin/libs/jsPDF/jspdf.umd.min.js' %}"></script>
<script src="{% static 'lib/table_export_plugin/libs/js-xlsx/xlsx.core.min.js' %}"></script>
<script src="{% static 'lib/bootstrap_table/extensions/export/bootstrap-table-export.min.js' %}"></script>
<script type="text/javascript" src="{% static 'my_lib/my_tables/table_base_settings.js' %}"></script>

{% block add_jav_script %}{% endblock %}
</body>
</html>